{% extends 'bootstrap4.html.twig' %}

{% block title %}{{ parent() }} | Article | {% endblock %}

{% block menuhaut %}
        {% include'home/menuhaut.html.twig' %}
{% endblock %}

    {% block content %}
        <!-- Begin page content -->
        <main role="main" class="flex-shrink-0">
            <div class="container"><hr>
                <h1 class="mt-5"><small>Article :</small> </h1><hr>
                <p class="lead">Voici le détail de cet article</p>
                {% for item in articles %}
                    <hr>
                    <h3>{{ item.titre }}</h3>
                    <h6>Catégories:
                        {# Tant que l'on a des catégories pour cet article#}
                        {% for cat in item.categIdcateg %}
                            <a href="{{ path("categ",{slug:cat.slug}) }}">{{ cat.titre }}</a>
                            {# si on est pas au dernier tour, on rajoute un | #}
                            {% if not loop.last %} | {% endif %}
                            {# Cet article n'est dans aucune catégorie #}
                        {% else %}
                            Aucune catégorie
                        {% endfor %}
                    </h6>
                    <p>{{ item.texte }}
                        <br><a href="{{ path("article",{slug:item.slug}) }}">Lire la suite</a></p>
                    <p><a href="{{ path("user",{thelogin:item.userIduser.thelogin}) }}">{{ item.userIduser.thename }}</a> le {{ item.thedate|date('d/m/Y \à H\\hi') }}</p>
                {% endfor %}
            </div>
        </main>
    {% endblock %}




