{% extends 'bootstrap4Admin.html.twig' %}

{% block title %}{{ parent() }} | Nouvel article{% endblock %}

{% block menuhaut %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('article_new')}}">Nouvel Article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path("app_logout")}}">Déconnexion</a>
    </li>
{% endblock %}

{% block content %}
<main role="main" class="flex-shrink-0">
    <div class="container">
    <h1>Création d'un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">Retour à l'accueil</a>
    </div>
</main>
{% endblock %}
